{% extends 'main/layout.html'%}

{% block btn %}
                    <li class="nav-item">
                        <a class="btn btn btn-outline-primary" href="{%url 'patient_create'%}" role="button">Додати пацієнта</a>
                    </li>
{%endblock%}

{%block title %}{{ patient.last_name }}{% endblock %}

{%block content %}
    <div class="container text-start">
        <h1>{{ patient.last_name }} {{patient.first_name}} {{patient.middle_name}}</h1>
        <p>{{ patient.birth_date }}н.</p>
        <p>Бригада: {{ patient.brigade }}</p>
        <p>Адреса: {{ patient.address }}</p>
        <p>Початок строку: {{ patient.begin_sentence}}</p>
        <p>Кінець строку: {{ patient.end_sentence}}</p>
        <p>Строк: {{ patient.term_sentence}}</p>
        <p>Статті: {{ patient.sections }}</p>
        <p>Дата прибуття: {{ patient.date_arrival}}</p>
        <p>Дата вибуття: {{ patient.date_departure}}</p>
        <p>pk: {{ patient.id}}</p>
        <a class="btn btn-primary" role="button" href="{%url 'patient_update' patient.id%}">Редагувати пацієнта</a>
        <a class="btn btn-danger" role="button" href="{%url 'patient_delete' patient.id%}">Видалити пацієнта</a>
        <a href="{% url 'examination_create' patient.id %}" class="btn btn-success">Провести огляд</a>
        <a href="{% url 'examinations' patient.id %}" class="btn btn-success">Історія оглядів</a>
    </div>
{% endblock %}