{% extends 'main/layout.html'%}

{% block btn %}
                    <li class="nav-item">
                        <a class="btn btn btn-outline-primary" href="{%url 'patient_create'%}" role="button">Додати пацієнта</a>
                    </li>
{%endblock%}

{%block title %}Пацієнти{% endblock %}

{%block content %}
    <div class="features">
        <h1>Пацієнти</h1>
        {% if Patients %}
            {% for el in Patients %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    <a href="{% url 'news_details' el.id %}" class="btn btn-warning">Докладно</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Немає пацієнтів</p>
        {% endif %}
    </div>
{% endblock %}