{% extends 'main/layout.html'%}

{% block btn %}
                    <li class="nav-item">
                        <a class="btn btn btn-outline-primary" href="{%url 'patient_create'%}" role="button">Додати пацієнта</a>
                    </li>
{%endblock%}

{%block title %}Пацієнти{% endblock %}

{%block content %}
    <div class="features">
        <h1>Пацієнти</h1>
        {% if patients %}
        <table class="table table-stripped table-bordered text-start">
            <thead>
                <tr>
                    <th>Прізвище</th>
                    <th>Ім'я</th>
                    <th>По батькові</th>
                    <th>Дата народження</th>
                    <th>Бригада</th>
                </tr>
            </thead>
            <tbody>
            {% for patient in patients %}
                <tr>
                    <td><a href="{{ patient.id }}"> {{ patient.last_name }}</a></td>
                    <td>{{ patient.first_name }}</td>
                    <td>{{ patient.middle_name }}</td>
                    <td>{{ patient.birth_date }}</td>
                    <td>{{ patient.brigade }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Немає пацієнтів</p>
        {% endif %}
    </div>
{% endblock %}

{%block navigation%}
        {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
{%endblock%}