{% extends 'main/layout.html'%}

{% block btn %}
                    <li class="nav-item">
                        <a class="btn btn btn-outline-primary" href="{%url 'create'%}" role="button">Додати запис</a>
                    </li>
{%endblock%}

{%block title %}Новини{% endblock %}

{%block content %}
    <div class="features">
        <h1>Новини</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    <a href="{% url 'news_details' el.id %}" class="btn btn-warning">Докладно</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Нема новин</p>
        {% endif %}

        {# Комент #}
    </div>
{% endblock %}